@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Claim Based Identity</h1>
   Admin Login Info: <br />
    UserName: administrator@yourdomain.com
    <br />
    Pass: P@ssw0rd



</div>

